body {
    font-family: Arial, sans-serif;
    background-color: #424141;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    background-color: #fbfbfb;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #000000;
}

.diary-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#diaryEntry {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.diary-list {
    margin-top: 20px;
}

#List {
    list-style: none;
    padding: 0;
}

.diary-entry {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
}

.diary-entry button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #dc3545;
}

.diary-entry button:hover {
    background-color: #c82333;
}